@import url("https://fonts.googleapis.com/css?family=Raleway");

html{
    scroll-behavior:smooth;
    font-size: 62.5%; /*es igual a 10 px y a un rem*/ 
    font-family: Raleway;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffff;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

select{
    background-color: transparent;
    border: .1rem solid transparent;
    border-bottom: .1rem solid #ffff;
}

option{
    background-color: transparent;
    color: black;
}

body{
    background-image: url(1146750.png);
    background-size: cover;
}

/*Display*/
.none{
    display: none;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.botones{
    border-radius: .6rem;
    border: .1rem solid transparent;
    transition: transform .15s;
    padding: .5rem 1rem .5rem 1rem;
    background-color: rgb(213, 115, 46);
    color: #ffff;
    transition: all .8s;
    font-size: 1.6rem;
}

.botones:hover{
    background-color: transparent;
    color: #ffff;
    border-radius: .6rem;
    border: .1rem solid rgb(213, 115, 46);
}

.int{
    border: none;
    border-bottom: .1rem solid #ffff;
    padding: .2rem 1rem .2rem 1rem;
    text-align: center;
    transition: all .5s;
    background-color: transparent;
  }

  .int:hover{
    border-bottom: .1rem solid rgb(213, 115, 46);
  }
  
.result{
    border: none;
    border-bottom: .1rem solid #fff;
    padding: .5rem 1rem .5rem 1rem;
    text-align: center;
}

.section{
    display: none;
    position: relative;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    border-radius: .6rem;
    right: -200rem;
    transition: right 2s;
}

.active{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    border-radius: .6rem;
    right: 0;
    transition: right 1s;
}

.main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1{
    margin-bottom: 3rem;
    font-size: 3rem;
}

.opciones-1{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.b-1{
    font-size: 2rem;
}

.ta{
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

th, td{
    padding: 1rem;
}